*{margin: 0; padding: 0;}
.bookShow{
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
}
.wordcloud{
    height: 400px;
    background-color: paleturquoise;
    background: url('../../src/assets/border/bg14.png')no-repeat;
    background-size: 100% 400px;
    box-sizing: border-box;
}
#char2 {
    width:420px;
    height:400px;
    margin-left: 100px;
    float: left;
}
.wcText{
    width:700px;
    float: right;
    height: 200px;
    padding:10px;
    margin:100px 100px;
    background-color: wheat;
    line-height: 30px;
    font-size: 18px;
    border-radius: 10px;
}
#content{   
    width:100%;
  }
.waterfallbox{
padding:10px;
}
.ant-card-body1{
    font:18px;
    font-weight: bold;
    margin-bottom: 10px;
}