.box {
    margin-top: 50px;
  }
  .el-tabs__nav-scroll {
      background:#aed9e0;
      padding: 5px;
  }
  .el-tabs__nav {
      background: #cce3de;
      color: whitesmoke;
  }
  .el-tabs--border-card{
      background-color:#f7ede2;
      background-image:url('../MPimg/dark-tl.svg'),url('../MPimg/dark-tr.svg'),url('../MPimg/wl01.jpg'),;
      /* background-image: ; */
      background-position: top left, top right;
      background-repeat: no-repeat, no-repeat, repeat, no-repeat;
      background-size: 25em, 25em, auto, cover;
      margin: 10px;
  }
  .introbox
  {
    width:100%;height:300px;
    /* background:rgba(131,197,190,0.2); */
    background-image:url('../../src/assets/border/bg05.png');
    padding-top: 0px;
    background-size: 100% auto;}
    .introtext{
    margin: 20px 0 0 0;
    height: 100px;
    font-size: 18px;
    border-top: 1px solid #6f727b;
    padding: 12px 10px ;
    line-height: 150%;
    color: #6f727b;
    display: inline-block;
    font-family:"宋体";
    font:#6f727b;
    /* font-weight: bolder; */
    transition: color .5s;
    }
    .introtext:hover{
        color:#62929e;
    }
    .el-divider__text { font-family: "方正手写体1";font-size:18px;color: black;background-color: #f7ede2;background-image:url('../MPimg/wl01.jpg')}
    .el-divider{margin-top: 60px;background-color: #5bc0be;}
    